
<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p> 
  <strong>User:</strong>
  <%= @review.user.email %>
 </p>

<%= link_to 'Back', drinks_path %>

<%= link_to 'Edit', edit_drink_review_path(@review) %>
